NODE_ENV=development
PORT=3000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:4200
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

AUTH_OTP_TTL_SECONDS=300
REDIS_URL=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_PHONE=

MAIL_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your-mailtrap-username
PASSWORD=your-mailtrap-password
SMTP_FROM_NAME=NoReply
SMTP_FROM_EMAIL=noreply@example.com
